
@font-face {
    font-family: sans-reg;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: sans-med;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: sans-bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}